body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
.container{
  width: 80%;
  margin: 0% auto;
}
.header{
  width: 25%;
  margin: 0% auto;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 1;
}
.header ::after{
  content: "";
  display: table;
  clear: both;
}
.nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.menu-item{
  display: inline-block;
  margin-left: 40px;
  padding-top: 32px;
}
.menu-item :hover{
  color: rgb(0, 238, 255);
}
#home-active{
  color: rgb(0, 238, 255);
}
#work-active{
  color: rgb(0, 238, 255);
}
#about-active{
  color: rgb(0, 238, 255);
}
#contact-active{
  color: rgb(0, 238, 255);
}
.navi{
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.logo{
  width: 50px;
  float: left;
  padding: 15px;
}
.nav{
  float: right;
}
.slide{
  width: 100vw;
  height: 100vh;
}
.wrapper{
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display:none;
}
.Home{
  background: rgb(0, 0, 0);
}
.Work{
  background: rgb(0, 0, 0);
}
.About{
  background: rgb(0, 0, 0);
}
.Contact{
  background: rgb(0, 0, 0);
}

/*Home section*/

.mee{
  width: 30%;
  height: auto;
  position: relative;
  margin-left: 50%;
  margin-top: 70px;
  z-index: 0;
}
.Amir-Mahmoudi{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 6vw;
  position: absolute;
  margin-top: -9%;
  margin-left: 5%;
}
div span{
  font-size: 14vw;
}

/* Work section*/



article section img{
  width: 30vw;
  object-fit: contain;
  padding-bottom: 10px;
  
}
.img-border{
  width: 30vw;
  height: 30vh;
  overflow: hidden;
  padding: 5px;
}
.gallery-item{
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: center;
}
.gallery-item2{
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: center;
}
.gallery-item3{
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: center;
}

/* About section*/
.moving-text{
  background-color: black;
  height:50vh;
  width: 100vw; 
  z-index: 1000;
}
.the-text{
  color: rgb(255, 255, 255);
  font-size: 13rem;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  position: relative;

}
.about-text-box{
  width: 60vw;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
	text-align-last: none;
  
}
.about-text{
  color: white;
  font-family: 'montserrat' , 'sans-Serif';
  font-weight: 100;
  font-size: 1.2vw;
  line-height:1.6;
  z-index: 1000;
}
/* Contact section*/
.contact-box{
  width: 80vw;
  height: 100vh;
  justify-content: right;
  font-family: 'montserrat','sans-serif';
  text-align: right;
  }
  .contact-text{
    font-size: 6vh;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    
    
  }
  .empty-space{
    background-color: black;
  height:30vh;
  width: 100vw; 
  z-index: 1000;
  }
  .contact-box2{
    padding-top: 100px; 
    color: white;
    font-family: 'montserrat', 'sans-serif';
    font-weight: 600;
    font-size: 4vh;
    line-height: 46px;
  }
  .social-media{
    display: flex;
    flex-direction: row;
    width: 20vw;
    float: right;
    justify-content: right;

  }
  .icons{
    width: 20px;
    margin-left: 20px;
    margin-top: 30px;
  }
  .icon{
    width: 20px;
    justify-content: right;
    padding: 5px;
    
  }
  .icons :hover{
    /*opacity: 0.5;*/
    background-color: rgb(255, 17, 0);
    padding: 5px;
    filter: invert(100%);
    
  }